
  .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .brand {
    display: flex;
    align-items: center;
  }
  .brand svg {
    height: 30px;
    margin-right: 10px;
  }
  .brand svg path {
    fill: var(--pure);
  }
  .navWrapper .navList {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .navWrapper .navList li {
    margin-left: 30px;
    padding: 20px 0;
    position: relative;
  }
  .navWrapper .navList li a {
    color: var(--pure);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
  }
  .navWrapper .navList li a:hover,
  .navWrapper .navList li.active a {
    color: var(--primary);
  }
  .btn {
    background: transparent;
    color: #FFFFFF;
    outline: none;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    border:1px solid #FFFFFF;
    border-radius: 15px;
   
}
 
  main .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    text-align: center;
  }
  main .header h1 {
    font-size: 36px;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  main .header h4 {
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-gray);
    margin-bottom: 20px;
  }
  
 
  @keyframes moveUp {
    0% {
      opacity: 0;
      transform: translateX(-50%), translateY(50px);
      -webkit-transform: translateX(-50%), translateY(50px);
      -moz-transform: translateX(-50%), translateY(50px);
      -ms-transform: translateX(-50%), translateY(50px);
      -o-transform: translateX(-50%), translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%), translateY(20px);
      -webkit-transform: translateX(-50%), translateY(20px);
      -moz-transform: translateX(-50%), translateY(20px);
      -ms-transform: translateX(-50%), translateY(20px);
      -o-transform: translateX(-50%), translateY(20px);
    }
  }
  .hamburger {
    display: none;
  }
  
  .mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
  }
  .mobile .hamburger span {
    background: var(--pure);
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
  }
  .mobile ul.navList {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(45deg, #434343, #000000);
  }
  
  .hamburger,
  .brand {
    z-index: 9999;
  }
  .mobile ul.navList.open {
    opacity: 1;
    pointer-events: auto;
  }
  .mobile .hamburger span {
    transform-origin: left;
    transition: all 0.3s ease-in-out;
  }
  .mobile ul.navList li a {
    font-size: 20px;
  }