*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(90deg, #7352FF 0%, #7552FF 0.01%, #7352FF 0.02%, #7F52FF 49.48%, #7552FF 99.99%, #7352FF 100%);
color: rgb(255, 255, 255);
font-size: 16px;
margin: 0;
height:  200vh;
}
.container{
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}